* {
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  width: 100%;
}

body {
  background-color: #A9A9A9;
  font-family: helvetica monospace sans-serif serif;
  /* text-align: center; */
}

.top-box {
  background-color: #F5F5F5;
  /* margin: 0 auto; */
  height: 20.5%;
  width: 400px;
  position: absolute;
  right: 60%;
  top: 5%;
  border-radius: 4px 0px 4px 4px;
  box-shadow: 0 8px 6px -4px grey;
}

h1 {
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 20px 20px 0px 18px;
  display: inline-block;
}

p {
  font-size: 14px;
  line-height: 1.3;
  padding-left: 17px;
  margin-right: 20px;
  margin-top: 10px;
}

.middle-box {
  background-color: #F5F5F5;
  margin: 0 auto;
  height: 30%;
  width: 400px;
  position: absolute;
  left: 60%;
  top: 35%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 8px 6px -4px grey;
}

.card-title {
  margin-top: 85px;
  color: white;
  position: absolute;
  z-index: 1;
}

.card-title-text {
  color: black;
  position: absolute;
  z-index: 2;
  margin-top: 150px;
}

.bottom-box {
  background-color: #F5F5F5;
  height: 15%;
  width: 400px;
  position: absolute;
  right: 60%;
  bottom: 15%;
  border-radius: 4px 0px 4px 4px;
  box-shadow: 0 8px 6px -4px grey;
}

.dog {
  height: 140px;
  width: 400px;
  position: absolute;
}

.vertical {
  border-left: 4px solid #25608A;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  color: #F5F5F5;
  font-family: helvetica;
  font-weight: normal;
  position: relative;
  left: 216px;
  bottom: 23px;
  font-size: 14px;
  padding: 8px;
  background-color: #EC515C;
}

aside {
  display: inline-block;
}
.top-date {
  left: 226px;
  bottom: 19px;
}

.bottom-date {
  position: relative;
  left: 209px;
  bottom: 19px;
  display: inline-block;
  font-size: 14px;
  padding: 8px;
}

.middle-date {
  position: absolute;
  left: -56.5%;
  bottom: 76.5%;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  z-index: 4;
}

.quote-side {
  border-left: 3pt solid #276288;
  margin-left: 20px;
  padding-left: 15px;
}
form {
  display: inline-block;
}
.top-button {
  font-size: 11px;
  color: white;
  background-color: #276288;
  position: absolute;
  padding: 7px 14px;
  border-radius: 2px;
  border-style: none;
  left: 5%;
}

.middle-button {
  font-size: 11px;
  color: white;
  background-color: #276288;
  position: absolute;
  padding: 7px 14px;
  border-radius: 2px;
  border-style: none;
  bottom: 5%;
  left: 5%;
}
button:hover {
  background-color: #8FA9BA;
}
.top-box::after {
  bottom: 70%;
  content: '';
  display: inline-block;
  left: 100%;
  position: absolute;
  border-left: 12px solid #F5F5F5;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
}
.middle-box:after {
  bottom: 80%;
  content: '';
  display: inline-block;
  right: 100%;
  position: absolute;
  border-left: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-right: 12px solid #F5F5F5;
}
.bottom-box::after {
  bottom: 63%;
  content: '';
  display: inline-block;
  left: 100%;
  position: absolute;
  border-left: 12px solid #F5F5F5;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
}
.top-pen {
  border-radius: 100%;
  width: 2%;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 49.15%;
  top: 6.5%;
  z-index: 1;
}
.middle-pen {
  border-radius: 100%;
  width: 2%;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 49.15%;
  top: 36%;
  z-index: 1;
}
.bottom-pen {
  border-radius: 100%;
  width: 2%;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 49.15%;
  top: 71%;
  z-index: 1;
}



/* @keyframes h1 {
  0% {
  transform: translateX(100px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
h1 {
  animation: h1 1s;
} */
