* {
  box-sizing: border-box;
  margin: 0 auto;
}
img {
  width: 100%;
}

body{
  background-color: #A9A9A9;
  font-family: helvetica monospace sans-serif serif;
}
.top-box  {
  background-color: #F5F5F5;
  margin: 0 auto;
  height: 194px;
  width: 400px;
  position: absolute;
  left: 150px;
  top: 35px;
  border-radius: 4px 0px 4px 4px;
}
h1 {
  color: black;
  font-family: helvetica;
  font-weight: normal;
  font-size: 24px;
  padding: 20px 20px 0px 20px;
  display: inline-block;
}
p {
  font-size: 16px;
  line-height: 1.2;
  padding-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}
.middle-box  {
  background-color: #F5F5F5;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  position: absolute;
  right: 150px;
  top: 270px;
  border-radius: 0px 4px 4px 4px;
}
.card-title {
  margin-top: 100px;
  color: white;
  position: absolute;
  z-index: 1;

}
.card-title-text {
  color: black;
  position: absolute;
  z-index: 2;
  margin-top: 168px;
}

.bottom-box  {
  background-color: #F5F5F5;
  margin: 0 auto;
  height: 154px;
  width: 400px;
  position: absolute;
  left: 150px;
  bottom: 140px;
  border-radius: 4px 0px 4px 4px;
}
.dog {
  height: 150px;
  width: 400px;
  position: absolute;
  border-radius: 0px 4px 0px 0px;
}
.vertical {
  border-left: 6px solid #25608A;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  }
  h2 {
    color: white;
    font-family: helvetica;
    font-weight: normal;
    position: relative;
    left: 216px;
    bottom: 19px;
    font-size: 14px;
    padding: 10px;
    background-color: #EC515C;
  }
  aside {
display: inline-block;
  }
  .bottom-date {
    position: relative;
    left: 197px;
    bottom: 19px;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
  }
  .middle-date {
    position: absolute;
    left: -226px;
    bottom: 235px;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    z-index: 4;
  }
  .quote-side {
    border-left: 3pt solid #276288;
    margin-left: 20px;
    padding-left: 15px;
  }

/* @keyframes h1 {
  0% {
  transform: translateX(100px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
h1 {
  animation: h1 1s;
} */
